/* ---Header CSS--- */

.navbar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px gray;
    --webkit-box-shadow: 0 8px 6px -6px gray;
    border-bottom: solid gray !important;
}

.nav-link{
    font-weight: 300 !important;
}
.active{
    border-bottom: 1px solid black;
}
.navbar-brand{
    font-family: 'roboto',sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

/* ---Footer CSS--- */

.footer{
    color: white;
    padding: 20px;
    background: linear-gradient(to right,#434343,#000000);
}

.footer a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.footer a:hover{
    color: #ffefba;
    border-bottom: 1px solid #ffefba;
}

